/* AIR QUALITY */
#air-quality-value {
  font-size: var(--font-size-subtitle);
  font-weight: 500;
}
#air-quality-level {
  font-size: var(--font-size-regular);
  font-weight: 400;
  margin-bottom: 1rem;
}
/* --- Meter Styling --- */
.air-quality-meter-container {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  position: relative;

  /* The continuous gradient that represents the full scale */
  background: linear-gradient(
    to right,
    #00e400 0%,
    /* Good - Green (0-50) */ #ffff00 16.6%,
    /* Moderate - Yellow (51-100) */ #ff7e00 33.3%,
    /* Unhealthy for Sensitive Groups - Orange (101-150) */ #ff0000 50%,
    /* Unhealthy - Red (151-200) */ #8f3e97 66.6%,
    /* Very Unhealthy - Purple (201-300) */ #7e0023 83.3%,
    /* Hazardous - Maroon (301+) */ #7e0023 100%
  );
}

/* The dot that indicates the current UV Index */
.air-quality-meter-marker {
  position: absolute;
  top: -3px; /* Position it above the bar */
  left: 0%; /* This value will be set by JavaScript */
  transform: translateX(-50%); /* Center the marker on its position */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #1c2943; /* A dark border to stand out */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 1s ease-in-out; /* Smooth movement */
}
